body {
  margin: 0;
  padding: 20px;
  background-color: #fff;
  color: #2a2a2a;
  line-height: 1.3;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}
/* Общие стили для Feedback */
.Feedback {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.Section {
  margin: 20px;
}
.Title {
  margin: 15px;
}

/* Draft ColorPicker */
.ColorPicker__option {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 250ms linear;
}

.ColorPicker__option--active {
  transform: scale(1.2);
}
